@model KobiAsITS.Models.Process

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<RequestFile> RequestFiles = null;
    if (ViewData["RequestFiles"] != null)
    {
        RequestFiles = (List<RequestFile>)ViewData["RequestFiles"];
    }
}

<nav aria-label="...">
    <div class="pager">
        <a href="/Processes/Index" class="btn btn-primary"><span aria-hidden="true">&larr;</span> Geri</a>
    </div>
</nav>

<h1>Detaylar</h1>
<form asp-action="Details">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>İşleme Alınan Talep</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />


                    <div class="form-group  row">
                        <label asp-for="Request.User.Department.DepartmentName" class="col-sm-4 col-form-label">Talep Gönderen Birim</label>
                        <div class="col-sm-8">
                            <input asp-for="Request.User.Department.DepartmentName" class="form-control" readonly />

                            <span asp-validation-for="Request.User.Department.DepartmentName" class="text-danger" readonly></span>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label">Talep Gönderen Kişi</label>

                        <div class="col-sm-8">
                            <label asp-for="Request.User.UserFirstName" class="form-control" readonly>
                                @Html.DisplayFor(model => model.Request.User.UserFirstName)
                                @Html.DisplayFor(model => model.Request.User.UserLastName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label asp-for="Request.CreateDate" class="col-sm-4 col-form-label">Talep Gönderme Tarihi</label>

                        <div class="col-sm-8">
                            <input type="date" asp-for="Request.CreateDate" class="form-control" readonly />
                            <span asp-validation-for="Request.CreateDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label asp-for="Request.RequestTitle" class="col-sm-4 col-form-label">Talep Başlığı</label>

                        <div class="col-sm-8">
                            <input asp-for="Request.RequestTitle" class="form-control" readonly />
                            <span asp-validation-for="Request.RequestTitle" class="text-danger" readonly></span>
                        </div>
                    </div>

                    <div class="form-group  row">
                        <label asp-for="Request.RequestDescription" class="col-sm-4 col-form-label">Talep Açıklaması</label>
                        <div class="col-md-8">
                            <textarea asp-for="Request.RequestDescription" rows="4" cols="50" class="form-control textarea-maxlength" maxlength="200" readonly></textarea>
                            <div class="the-count-message" style="float:right">
                                <span class="current-message">@(Model.Request?.RequestDescription?.Length)</span>
                                <span class="maximum-message">/200</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label">Talebe Ait Dosyalar</label>
                        <div class="col-sm-8">
                            @if (RequestFiles != null && RequestFiles.Count > 0)
                            {
                                foreach (var item in RequestFiles)
                                {
                                    <div>
                                        @Html.ActionLink(" " + item.FilePath, "Download", new { FilePath = item.FilePath }, new { @class = "btn btn-dark fa fa-download" })
                                        <br /> <br />
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="form-group  row">
                                    <div class="col-sm-12">
                                        <input asp-for="Request.RequestFiles" value="Ek dosya yüklenmedi." class="form-control" readonly />
                                        <span asp-validation-for="Request.RequestFiles" class="text-danger" readonly></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label" for="inputState">Talep Önceliği(Gönderen Birim)</label>
                        <div class="col-sm-8">
                            <label asp-for="Request.Priority" class="form-control" readonly>
                                @{
                                    if (Model.Request.Priority == KobiAsITS.Enums.ValueEnums.LowPriorityByte)
                                    {
                                        <td>@KobiAsITS.Enums.ValueEnums.LowPriority</td>
                                    }
                                    else if (Model.Request.Priority == KobiAsITS.Enums.ValueEnums.MediumPriorityByte)
                                    {
                                        <td>@KobiAsITS.Enums.ValueEnums.MediumPriority</td>
                                    }
                                    else if (Model.Request.Priority == KobiAsITS.Enums.ValueEnums.HighPriorityByte)
                                    {
                                        <td>@KobiAsITS.Enums.ValueEnums.HighPriority</td>
                                    }
                                    else
                                    {
                                        <td>@KobiAsITS.Enums.ValueEnums.UrgentPriority</td>
                                    }
                                }

                            </label>
                        </div>
                    </div>
                    <nav aria-label="..." style="text-align:right">
                        @if (User.IsInRole("Admin") && Model.Status != KobiAsITS.Enums.ValueEnums.CompletedByteStatus)
                        {
                            <div class="pager">
                                <a href="/Processes/Edit/@Model.Id" class="btn btn-primary"><span aria-hidden="true"></span>Düzenle</a>
                            </div>
                        }
                    </nav>
                </div>
            </div>
        </div>
    </div>
</form>