@model KobiAsITS.Models.Request

@{
    ViewData["Title"] = "Talep İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<nav aria-label="...">
    <div class="pager">
        <a href="/Requests/Index" class="btn btn-primary"><span aria-hidden="true">&larr;</span> Geri</a>
    </div>
</nav>
<h1>Düzenle</h1>

<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Talep Bilgileri</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="RequestProgressStatus" />
                    <input type="hidden" asp-for="Uuid" /> <!-- Bu datalar ön tarafta gösterilmediği için bu tarafta hidden tutulabilir..!! -->
                    <input type="hidden" asp-for="UserId" />

                    <div class="form-group  row">
                        <label asp-for="UserId" class="col-sm-4 col-form-label">Talep Gönderen</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="@Model.User.UserFirstName @Model.User.UserLastName" readonly />
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label asp-for="RequestTitle" class="col-sm-4 col-form-label">Talep Başlığı</label>

                        <div class="col-sm-8">
                            <input asp-for="RequestTitle" class="form-control" />
                        </div>
                    </div>                   
                    <div class="form-group  row">
                        <label asp-for="RequestDescription" class="col-sm-4 col-form-label">Talep Açıklaması</label>
                        <div class="col-md-8">
                            <textarea asp-for="RequestDescription" rows="4" cols="50" class="form-control textarea-maxlength" maxlength="200"></textarea>
                            <div class="the-count-message" style="float:right">
                                <span class="current-message">@(Model.RequestDescription?.Length)</span>
                                <span class="maximum-message">/200</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label asp-for="CreateDate" class="col-sm-4 col-form-label">Oluşturulma Tarihi</label>

                        <div class="col-sm-8">
                            <input type="date" asp-for="CreateDate" class="form-control" readonly />
                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="inputState">Öncelik Durumu</label>
                        <div class="col-sm-8">
                            <select id="Priority" name="Priority" class="form-control" readonly>
                                @if (Model.Priority == @KobiAsITS.Enums.ValueEnums.LowPriorityByte)
                                {
                                    <option value="@Model.Priority" selected hidden>@KobiAsITS.Enums.ValueEnums.LowPriority</option>

                                }
                                else if (Model.Priority == @KobiAsITS.Enums.ValueEnums.MediumPriorityByte)
                                {
                                    <option value="@Model.Priority" selected hidden>@KobiAsITS.Enums.ValueEnums.MediumPriority</option>

                                }
                                else if (Model.Priority == @KobiAsITS.Enums.ValueEnums.HighPriorityByte)
                                {
                                    <option value="@Model.Priority" selected hidden>@KobiAsITS.Enums.ValueEnums.HighPriority</option>

                                }
                                else
                                {
                                    <option value="@Model.Priority" selected hidden>@KobiAsITS.Enums.ValueEnums.UrgentPriority</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label asp-for="Status" class="col-sm-4 col-form-label">Onay Durumu</label>

                        <div class="col-sm-8">
                            <select name="Status" id="Status" class="form-control">

                                @if (Model.Status == @KobiAsITS.Enums.ValueEnums.waitingByteStatus)
                                {
                                    <option value="@Model.Status" selected hidden>@KobiAsITS.Enums.ValueEnums.waitingStatus</option>

                                }
                                else if (Model.Status == @KobiAsITS.Enums.ValueEnums.confirmByteStatus)
                                {
                                    <option value="@Model.Status" selected hidden>@KobiAsITS.Enums.ValueEnums.confirmStatus</option>

                                }
                                else
                                {
                                    <option value="@Model.Status" selected hidden>@KobiAsITS.Enums.ValueEnums.deniedStatus</option>

                                }
                                <option value=@KobiAsITS.Enums.ValueEnums.waitingByteStatus>@KobiAsITS.Enums.ValueEnums.waitingStatus</option>
                                <option value=@KobiAsITS.Enums.ValueEnums.confirmByteStatus>@KobiAsITS.Enums.ValueEnums.confirmStatus</option>
                                <option value=@KobiAsITS.Enums.ValueEnums.deniedByteStatus>@KobiAsITS.Enums.ValueEnums.deniedStatus</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="text-align:right">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>